* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

.address {
    text-align: center;
    color: blue;
}

.upper {
    line-height: 40px;
}

.frst {
    border: 1px solid black;
    text-align: center;
    background-color: lightgrey;
    color: darkblue;
    font-weight: 600;
    padding: 5px 10px; 
}

.box {
    display: flex;
    justify-content: center;
}

.ad {
    background-color: white;
    color: rgba(64,146,204,255);
}

/* table */
table {
    margin-top: 18px;
}

.date {
    float: right;
}

.title {
    text-decoration: underline;
    font-weight: 600;
}

input{
    border: none;
    outline: none;
}